@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/raleway/raleway-v18-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/raleway-v18-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf')
      format('truetype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway/raleway-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2') format('woff2'),
    url('../fontsraleway//raleway-v18-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf')
      format('truetype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway')
      format('svg'); /* Legacy iOS */
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf')
      format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto')
      format('svg');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

:root {
  --logo-web: #2196f3;
  --background-color: #f5f4fa;
  --text: #757575;
  --white: #ffffff;
  --logo-header: #000000;
  --title: #212121;
}


/* Body Header Footer */

body * {
  text-decoration: none
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text);
  margin: 0px 0px 0px 0px;
}

header * {
  text-decoration: none;
  color: var(--logo-header);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: inline-block;
  back
}

footer * {
  text-decoration: none;
}

header ul a:hover,
header ul a:focus {
  color: var(--logo-web);
}

/*PORTFOLIO PAGE*/

.body {
  margin: 0px;
}

.page-header {display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  left: 0;
  right: 0;
  background-color: var(--white);
}

.container {display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-web);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-header);
}

.list {
  list-style: none;
  padding: 0;
}

ul {
  padding-inline-start: 0;
}

.nav {display: flex;
  margin-left: 93px;
  align-items: center;
}

.nav__site > .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__site {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--logo-header);
}

.contacts { display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text);
  margin-left: auto;
}

.contacts__link {display: flex;
align-items: center;
}

.contacts__icon {margin-right: 10px;}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon{
  fill: var(--logo-web);
}

.nav__line {position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__line:hover::after,
.nav__line:focus::after{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-web);
  bottom: -32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Modal window*/

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in;
  visibility: visible;
}

.modal {justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: rgb(255,255,255,1);
  padding: 80px 40px;
  transition: transform 0.5s;
  z-index: 50;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.021), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.btn-close {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  background-color: var(--white);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  align-items: center;
  height: 30px;
  width: 30px;
  justify-content: center;
  outline: none;
}

.btn-close:hover,
.btn-close:focus {
  color: var(--logo-web);
}

.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.message {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title);
  padding-bottom: 30px;
}

.form-input {
  margin: 0;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover, 
.form-input:-webkit-autofill:focus {
-webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255,255,255,1) inset;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--logo-web);
}

.form-input:hover ~ .icon-vector,
.form-input:focus ~ .icon-vector{
  fill: var(--logo-web);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) +.form-label {
transform: translateY(-42px) translateX(-42px);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.icon-vector {
  position: absolute;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 12px 16px;
}

.textarea:hover,
.texrarea:focus {
  border-color: var(--logo-web);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.a {color: var(--logo-web);}

.checkbox:checked  + .checkbox-icon {
  border-color: var(--logo-web);
  background-color: var(--logo-web);
  background-image: url(../svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
}

.label {
  display: block;
  height: 24px;
  width: 100%;
  padding-left: 7px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.form {
  position: relative;
}

.btn-submit {position: absolute;
  left: 124px;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: var(--logo-web);
  color: var(--white);
  justify-content: center;
  align-items: center;
  border: var(--logo-web);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

.btn-submit:hover,
.btn-submit:focus {
  height: 48px;
  border: 0;
}

/* Hero section. INDEX.html */

.hero-section {display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at center, #00000091, #0000007e), url('../images2/heroimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
  position: center;
  height: 600px;
  padding: 0;
  margin: 0;
}

.h1 {display: flex;
justify-content: center;
}

.hero-text {display: flex;
  display: flex;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.hero-button {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 30px 0px 0px 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  align-items: center;
  background-color: var(--logo-web);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.hero-button:hover,
.hero-button:focus {
  border: var(--logo-web);
}

.hero-buttext {font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
color: var(--white);
}

.button {
  display: flex;
  justify-content: center;
}

.main-container {display: flex;
  justify-content: center;
  width: 1170px;
  flex-direction: column;
}

.advantages {margin-bottom: 94px;}

.section {display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

 .about-us-section{
  display: flex;
  padding-bottom: 94px;
  justify-content: center;
}



.feature-item-1::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  height: 120px;
  background-image: url(../svg/group1.svg);
  margin: 0px 0px 30px 0px; 
}

.feature-item-2::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  height: 120px;
  background-image: url(../svg/group2.svg);
  margin-bottom: 30px;
}

.feature-item-3::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  height: 120px;
  background-image: url(../svg/group3.svg);
  margin-bottom: 30px;
}

.feature-item-4::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  height: 120px;
  background-image: url(../svg/group4.svg);
  margin-bottom: 30px;
}

.feature-item:nth-child(4n) {
  margin-right: 0;
}

element .feature-item {
  width: 270px;
}

.feature-item {
  box-sizing: border-box;
}

.feature-item:not(:first-child) {
  margin-left: 30px;
}

/*       end    */

.team-section {display: flex;
  justify-content: center;
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
}

/* Feature list section */

 .title {
 font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title);
  padding-bottom: 50px; 
}

.title-our-team {display: flex;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  justify-content: center;
  color: var(--title);
}

.subject {
  width: 270px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
  color: var(--title);
}

.list {display: flex;
  width: 1170px;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.name {font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  color: var(--title);
}

.profession {font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;}

.text {
  width: 270px;
  height: 75px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.excerpt {font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;}

.feature-list .text {
  line-height: 1.71;
  color: var(--text);
}

/* What we do */

.pic {display: flex;
  height: 294px;
  width: 1170px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.picture {display: flex;
width: 370px;
height: 294px;
position: relative;
}

.picture__label {height: 70px;
position: absolute;
bottom: 0;
width: 100%;
margin: 0;
background: rgba(47, 48, 58, 0.8);
padding: 27px 82px 27px 83px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: var(--white);
}
/* Our team */

.our-team .title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title);
}

.list-team {display: flex;
  width: 1170px;
  /*height: 368px;*/
  justify-content: space-between;
  list-style-type: none;
}

.our-team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title);
}

.our-team .profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text);
}

.person {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title);
  margin-top: 30px;
}

.profession {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.person-card {display: block;
  height: 428px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.social {display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 16px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover .social-icons-svg, 
.social-icons-link:focus .social-icons-svg{
  fill: var(--white);
  background-color: var(--logo-web);
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

/*   CUSTOMERS  */

.section-customers {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-customers {
  display: flex;
  justify-content: center;
  font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: var(--title);
padding-bottom: 50px;
}



.customers {display: flex;
  list-style-type: none;
  justify-content: center;
}

.customers-list:not(:last-child) {
  margin-right:
}

.customers-list {
  display: flex;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  margin-right: 30px; 
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--logo-web);
}

.customers-svg {
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-svg,
.customers-link:focus .customers-svg {
  fill: var(--logo-web);
}
/* Footer */

.logo-footer {display: flex;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--white);
  padding-bottom: 20px;
}

.footer {display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}

.social-footer {
  margin-top: 0px;
}

.footer .adress {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
}

.footer .list li {
  padding-bottom: 9px;
}

.footer .list {
  flex-direction: column;
  padding: 0;
}

.footer .mailtel {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {display: flex;
  max-width: 1200px;
}

.footer-contacts { 
  width: 231px;
  margin-right: 70px;
}

.footer-container-social {
  display: flex;
  flex-direction: column;
  width: 206px;
}

.footer-container-social .social-icons-link {
background-color: rgba(255, 255, 255, 0.1);
}

.social-icons-link:hover {
  background-color: var(--logo-web);
}

.footer-container-social .social-icons-svg {
  fill: var(--white);
}

.h3 {
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: var(--white);
margin-bottom: 20px;
}

/* Porfolio Page */

.port-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.port-nav-div {display: flex;
width: 611px;
justify-content: space-between;
}

.port-nav li {
  text-decoration: none;
  list-style: none;
}

.port-nav a {display: flex;
  text-decoration: none;
  color: var(--title);
  height: 38px;
}

.port-list .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
}

.port-list .type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text);
}

.port-list {display: flex;
justify-content: center;
padding-top: 94px;
padding-bottom: 94px;
}

.btn {
  background: var(--background-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, 
.btn:focus {
  background: var(--logo-web);
  color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.box {display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 1272px;
}

.card {
height: 404px;
width: 370px;
list-style-type: none;
border: 1px solid #EEEEEE;
text-decoration: none;
position: relative;
overflow: hidden;
}

.card-content {
  position: absolute;
  margin: 0 0 0 0;
  background-color: rgb(33, 150, 243, 0.9);
  font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.03em;
text-align: left;
  color: var(--white);
  top: 0;
  bottom: 110px;
  padding: 63px 24px 63px 24px;
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(+100%); 
}

.card:hover .card-content,
.card:focus .card-content {
  opacity: 2;
  transform: translatex(0);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {text-align: left;
width: 322px;
height: 36px;
padding-bottom: 4px;
}
.excerpt {text-align: left;
width: 322px;
height: 30px;
}

.card-footer {
  padding: 20px 24px 20px 24px;
}

.contact-us {
  padding-left: 94px;
}

.contact-form {
  align-items: center;
}

.input-e-mail {
  width: 358px;
  height: 50px;
  padding-right: 12px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px 0,0,0,0,15;
  border-radius: 4px;
  outline: none;
}

.input-e-mail:-webkit-autofill,
.input-e-mail:-webkit-autofill:hover, 
.input-e-mail:-webkit-autofill:focus {
-webkit-text-fill-color: var(--text);
-webkit-box-shadow: 0 0 0px 1000px rgb(47,48,58,1) inset;
}

.input-e-mail:hover,
.input-e-mail:focus {
  border-color: var(--logo-web);
}

.btn-contact-us {position: relative;
 background: var(--logo-web);
 color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 10px 62px 10px 29px;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  outline: none;
}

.btn-contact-us:hover,
.btn-contact-us:focus {
border: 1px solid var(--logo-web);
}

.btn-contact-us::after {display: block;
  position: absolute;
  content: "";
  background-image: url(../svg/icon.send.svg);
  top: 13px;
  right: 20px;
  width: 24px;
  height: 24px;
  fill: white;
}
